/* #######################  FOOTER  ############################ */
#text-mape{
display: block;
}

.center{                        
    text-align: center;
}

.font-icon{
    font-size: var(--lg);
    border-radius: 20px;
}
.width-icon{
    width: 7rem;
}

.pie-pagina .grupo-2{
    width: 100%;
    max-width: 100%;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:50px;
    /* padding: 1rem 0px; */
}

.pie-pagina{
    width: 100%;
    background-color: var(--text-input-field);
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:50px;
    padding: 2px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    /* color: #fff; */
    /* margin-bottom: 25px; */
    font-size: var(--s);
}
/* .pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
} */
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    /* padding: 15px 10px; */
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: var(--s);
}

.text-fotter{
    font-size: var(--md);
    margin: 0;
    padding: 0 0 0 1rem;
    text-decoration: none;
}

.icon-foot{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-md{
    font-size: var(--md);
    padding: 0 0 0 4rem;
}

.img-fluida{
    max-width: 300px;
    height: 300px;
    border-radius: 26% 0%;
}


@media screen and (max-width:800px){
    #text-mape{
        display: none;
    }
    .pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        margin: 0px;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease;
    }
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:0px;
        padding: 1% 0px;
    }

    .pie-pagina .grupo-2{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        /* display:grid; */
        grid-template-columns: repeat(1, 1fr);
        grid-gap:0px;
        padding: 2%;
    }
    
}
/* ############################################################# */
